// variables
$website-width: 1280px;
$maincolor: #ee6f57;
$lightcolor: #f6f5f5;
$medcolor: #145374;
$darkcolor: #121212;
$bg-image: url('../img/amam.jpg');

// setcolor
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #000;
    }   @else {
        @return #fff;
    }
}